logs/
target/
.DS_Store
.idea
.idea_modules
.cache-main
.cache-tests
.classpath
.project
.settings/
RUNNING_PID
bin/
activator
activator-launch-*.jar
activator.bat
.tmpBin
.DS_Store
*/node_modules/
node_modules
npm-debug.log
queries.log
app.log
LICENSE
**/.sbtserver*
.sbtserver/**
.history
a.cmd
.*.swp
.*.swo
indexing/mydata.json
indexing/miniapp/dependency-reduced-pom.xml
conf/log4j2.xml
.jvmopts