@()

<html lang="en">
    <head>
    </head>
    <body>
        <article>
            <div>
                <h2>Przeczytaj info o budynku </h2>
                <div class="my-buttons">
                    <a href="building/1"> <button type="button" class="button3">
                        1 <img src="assets/icons/glyphicons-21-home.png" class="button-image"/></button></a>
                    <a href="building/2"> <button type="button" class="button3">
                        2 <img src="assets/icons/glyphicons-21-home.png" class="button-image"/></button></a>
                    <a href="building/3"> <button type="button" class="button3">
                        3 <img src="assets/icons/glyphicons-21-home.png" class="button-image"/></button></a>
                </div>
            </div>

            <div>
                <h2>Oblicz moc oświetlenia budynku</h2>
                <div class="my-buttons">
                    <a href="building/lightningPower/1"> <button type="button" class="button3">
                        1<img src="assets/icons/glyphicons-20-heart-empty.png" class="button-image"/></button></a>
                    <a href="building/lightningPower/2"> <button type="button" class="button3">
                        2<img src="assets/icons/glyphicons-20-heart-empty.png" class="button-image"/></button></a>
                    <a href="building/lightningPower/3"> <button type="button" class="button3">
                        3<img src="assets/icons/glyphicons-20-heart-empty.png" class="button-image"/></button></a>
                </div>
            </div>

            <div>
                <h2>Oblicz powierzchnia dla budynku</h2>
                <div class="my-buttons">
                    <a href="/building/totalArea/1"> <button type="button" class="button3">1
                        <img src="assets/icons/glyphicons-28-search.png" class="button-image"/>
                    </button></a>
                    <a href="/building/totalArea/2"> <button type="button" class="button3">2
                        <img src="assets/icons/glyphicons-52-eye-open.png" class="button-image"/>
                    </button></a>
                    <a href="/building/totalArea/3"> <button type="button" class="button3">
                        3        <img src="assets/icons/glyphicons-10-magic.png" class="button-image"/>
                    </button>
                    </a>
                </div>
            </div>

            <div>
                <h2>Oblicz kubaturę dla budynku</h2>
                <div class="my-buttons">
                    <a href="/building/totalCubage/1"> <button type="button" class="button3">1
                        <img src="assets/icons/glyphicons-3-dog.png" class="button-image"/>
                    </button></a>
                    <a href="/building/totalCubage/2"> <button type="button" class="button3">
                        2  <img src="assets/icons/glyphicons-23-fire.png" class="button-image"/></button></a>
                    <a href="/building/totalCubage/3"> <button type="button" class="button3">
                        3  <img src="assets/icons/glyphicons-4-user.png" class="button-image"/></button></a>
                </div>
            </div>
        </article>
    </body>
</html>