@import locations.Building

@(buildings : Set[Building])
<!DOCTYPE html>
<html>
    <head>
        <title>Building Info</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @welcome("Witaj w Building Info ", style = "java")

        <div class="example1">
            @*<img src="assets/icons/panorama.jpg">*@
        </div>

        <article>
            @for(building <- buildings){
            <h2><a href="building/building@building.getId">Budynek o id @building.getId</a></h2>
                <div class="my-buttons">

                    <a href="building/building@building.getId/totalArea"> <button type="button" class="button3">Powierzchnia</button></a>
                    <a href="building/building@building.getId/totalCubage"> <button type="button" class="button3">Kubatura</button></a>
                    <a href="building/building@building.getId/lightningPower"> <button type="button" class="button3">Moc oświetlenia</button></a>
                    <a href="building/building@building.getId/EnergyConsumption"> <button type="button" class="button3">Zużycie energii</button></a>
                </div>
            }
        </article>


    </body>
    <footer class="panel-footer">
        <div class="example2"></div>
    </footer>
</html>
