@import locations.Building
@import locations.Floor
@import locations.Room
@import play.data.Form
@import helper.form
@import helper.inputText

@(rooms : List[Room], idB : Integer, idF : Integer, roomForm: Form[Room])

<html>
    <head>
        <title>Building Info</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @welcome("Witaj w Building Info ", style = "java")

        <div class="example1">
            @*<img src="assets/icons/panorama.jpg">*@
        </div>

        <article>
            <h2>Pomieszczenia na piętrze:</h2>
            @for(room <- rooms){
                <div class="my-buttons">
                    <h3>Pomieszczenie o id @room.getId</h3>
                    <a href="/building/building@idB/floor@idF/room@room.getId/totalArea"> <button type="button" class="button3">Powierzchnia</button></a>
                    <a href="/building/building@idB/floor@idF/room@room.getId/totalCubage"> <button type="button" class="button3">Kubatura</button></a>
                    <a href="/building/building@idB/floor@idF/room@room.getId/lightningPower"> <button type="button" class="button3">Moc oświetlenia</button></a>
                    <a href="/building/building@idB/floor@idF/room@room.getId/EnergyConsumption"> <button type="button" class="button3">Zużycie energii</button></a>
                </div>
            }

            <h2>Dodaj pomieszczenie:</h2>
            <div class="my-buttons">
                @helper.form(action = helper.CSRF(routes.BuildingController.createRoom(idB,idF))){
                    @helper.inputText(roomForm("Id"))
                    @helper.inputText(roomForm("Nazwa"))
                    @helper.inputText(roomForm("area"))
                    @helper.inputText(roomForm("cube"))
                    @helper.inputText(roomForm("heating"))
                    @helper.inputText(roomForm("light"))


                <input type="submit" value="Dodaj">
                }
            </div>

        </article>


    </body>
    <footer class="panel-footer">
        <div class="example2"></div>
    </footer>
</html>
