@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <section id="top">
        @*<div class="wrapper">*@
        <div class = "swoj">
            <h1>
                @message
                    <img src="assets/icons/glyphicons-21-home.png" class="button-image"/>
                    <img src="assets/icons/glyphicons-21-home.png" class="button-image"/>
                    <img src="assets/icons/glyphicons-21-home.png" class="button-image"/>
                    <img src="assets/icons/glyphicons-21-home.png" class="button-image"/>

            </h1>

        </div>
    </section>
    @*<div id="content" class="wrapper doc">*@
    @*<section id="top">*@
    @*<div class="wrapper">*@
    @*<h2>Witaj w aplikacji dla administratorów budynków, którzy pragną optymalizować koszty zarządzania budynkami</h2>*@
    @*</div>*@
    @*</section>*@
    @*</div>*@
}